#thisfooter{
  position:fixed;
  bottom:0;
}

/*for desktop view sets the game icons to be 200 by 300 px)*/
@media screen and (min-width: 600px){
.gameicon{
  width: 200px;
  height: 300px;
  background-color: ghostwhite;
  margin-left: 10px;
  margin-right: 10px;
}
}

/*for smaller screen sets the width and height of the game-icons to be a percentage of the total available*/
@media screen and (max-width: 600px){
.gameicon{
  max-width: 90%;
  max-height: 99%;
  background-color: ghostwhite;
  margin-left: 5px;
  margin-right: 5px;
}
}

.thumbnail2 img{
  max-width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbnail2
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbnailscontainer
{
  padding-top: 4%;
  padding-bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/*sets the body to take 100% of the height of the viewport*/
body{
  height: 100vh;
}

/*sets some footer specs for all pages*/
footer{
  width:100%;
  text-align: center;
  padding-top:  20px;
  padding-bottom:  20px;
}
p{
  text-align: center;
}

/*link pseudoclass for all pages*/
a:link {
  color: purple;
}
a:visited{
  color: blue;
}
a:hover   {
  color: purple;
  cursor: pointer;
}

header, footer{
  color: ghostwhite;
  background-color: black;
}

header{
  text-align: center;
  padding-top:  15px;
  padding-bottom:  15px;
}

/*sets a div to be outlined in black if focused on*/
div:focus{
  border:1px solid black;
}
